@import 'font-awesome/font-awesome';

$opensans: 'Open Sans', 'Arial', sans-serif;
$lato: 'Lato', 'Arial', sans-serif;
$yeseva: 'Yeseva One', 'Times', cursive;
$gentium: 'Gentium Book Basic', 'Times', serif;