@import "bourbon/bourbon";
@import "colors";
@import "fonts";

.border-box {
	-webkit-box-sizing: border-box;	-moz-box-sizing: border-box;	box-sizing: border-box;
	}
.content-box {
	-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;
	}
.padding-box {
	-webkit-box-sizing: padding-box; -moz-box-sizing: padding-box; box-sizing: padding-box;
	}


@mixin inl-block($va-pos: top, $mr: -4px) {
	display: inline-block;
	vertical-align: $va-pos;
	margin-right: $mr;
	}

@mixin font($ff:'Arial', $fz:14, $fw:400, $clr:black) {
	font-family: $ff;
	font-size: $fz;
	font-weight: $fw;
	color: $clr;
	}

a {
	text-decoration: none;
	color: white;
	}

.main-header {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	@include clearfix;
	}

.main-container {
	margin: 0 auto;
	width: 1250px;
	}

.main-logo {
	float: left;
	@include inl-block;
	@include size(165px 110px);
	font-size: 0;
	background: url(../img/main-logo.png) no-repeat center;
	}

.main-navigation {
	float: right;
	padding-right: 40px;
	}
.horizontal {
	margin: 0;
	padding: 0;
	@include inl-block;
		li {
			@include inl-block;
			a {
				padding: 55px 15px 45px;
				display: block;
				@include transition(all, $ease-in-out-quad, 300ms);
				&.main-nav-item {
					margin-left: 20px;
					@include font($gentium, 21px, 700, white);
					&:hover {
						box-shadow: inset 0 5px rgba(255, 255, 255, 0.7);
						}
					}
				&.nav-social {
					padding: 55px 10px 45px;
					font-size: 0;
					i {
						font-size: 21px;
						color: $gold;
						@include transition(all, $ease-in-out-quad, 300ms);
						&:hover {
							color: lighten($gold, 20);
							text-shadow: 0 0 5px tint($gold, 20);
							}
						}
					}
				}
		}
	}

#promo {
	@extend .border-box;
	padding-top: 240px;
	min-height: 750px;
	background: gray url("../img/bg-promo.jpg") no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	.promo-slogan {
		margin: 0 auto;
		padding: 0;
		width: 970px;
		@include font($yeseva, 90px, 400, white);
		text-align: center;
		}
	.promo-divider {
		margin: 35px auto;
		@include size(232px 43px);
		background: url("../img/promo-divider.png") no-repeat center;
		}
	.promo-btns{
		text-align: center;
		a:hover {
			@include transform(scale(0.99));
			-webkit-box-shadow:  0px 0px 15px rgba(255, 255, 255, 0.4);
			-moz-box-shadow:  0px 0px 15px rgba(255, 255, 255, 0.4);
			box-shadow:  0px 0px 15px rgba(255, 255, 255, 0.4);
			}
		}
	.btn-left {
		@include inl-block();
		@include size(226px 55px);
		@include font($lato, 18px, 400, white);
		text-transform: uppercase;
		text-align: center;
		line-height: 55px;
		background-color: rgba(0,0,0,0.5);
		border: 1px solid rgba(0,0,0,0.7);
		@include transition(all 250ms ease-out);
		}
	.btn-right {
		@extend .btn-left;
		margin-left: 30px;
		margin-right: 0;
		background-color: rgba(255,255,255,0.3);
		border: 1px solid rgba(255,255,255,0.7);
		}
	}

.main-content {
	padding: 100px 0;
	text-align: center
	}

.content-gold {;
	@include inl-block();
	text-align: center;
	width: 430px;
		.content-title{
			@include font($yeseva, 36px, 400, $gold);
			line-height: 24px;
			}
		.content-divider-gold {
			margin: 20px auto 30px;
			@include size(247px 24px);
			background: url("../img/content-divider-gold.png") no-repeat center;
			background-size: cover;
			}
		.content-text {
			@include font($lato, 16px, 400, black);
			line-height: 24px;
			}
	}

.content-white {
	@extend .content-gold;
		.content-title,
		.content-text {
			color: white;
			}
	.content-divider-white {
		@extend .content-divider-gold;
		background: url("../img/content-divider-white.png") no-repeat center;
		background-size: cover;
		}
	}

.content-divider-white {
	@extend .content-divider-gold;
	background: url("../img/content-divider-white.png") no-repeat center;
	background-size: cover;
	}

.food-picture {
	margin: -45px 0 -70px;
	@include inl-block();
	}

#ingredients {
	background: $gray url("../img/bg-ingredients.jpg") no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	.ingredients-text-bg {
		padding: 80px 0;
		float: right;
		width: 570px;
		background: url("../img/bg-ingredients-text.png");
		-webkit-background-size: cover;
		background-size: cover;
		}
	.ingredient-pictures {
		margin: 60px auto 0;
		//text-align: center;
		}
	.ingredient-picture {
		@include inl-block();
		margin-right: 30px;
		@include size(100px);
		border: 5px solid rgba(255, 255, 255, 0.09);
		-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;
		-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;
		overflow: hidden;
		&:last-child {
			margin-right: 0;
			}
		}
	@include clearfix;
	}


#about, #reservations {
	min-height: 200px;
	@include background-image(
							url("../img/pattern-semicircles.png"),
							linear-gradient(to right bottom, $gray, white)
	);
	-webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.14);
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.14);
	}

@mixin half-width {
	.left-side {
		float: left;
		width: 50%;
		}
	.right-side {
		float: right;
		width: 50%;
		}
	@include clearfix;
	}

#menu {
	padding: 70px 0;
	min-height: 200px;
	@include background-image(
							url("../img/pattern-pentagons.png"),
							linear-gradient(to right bottom, $gray, white)
	);
	-webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.14);
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.14);
	@include half-width;
	.content-gold {
		width: auto;
		}
	.content-gold:not(:first-child) .content-title {
		margin-top: 60px;
		}
	.menu-item{
		margin-bottom: 20px;
		padding: 12px;
		width: 430px;
		text-align: left;
		position: relative;
		border: 1px solid transparent;
		.menu-item-title {
			margin: 0;
			@include inl-block();
			@include font($yeseva, 21px, 400, $gold);
			line-height: 24px;
			}
		.menu-item-price {
			position: absolute;
			right: 15px;
			@extend .menu-item-title;
			}
		.menu-item-divider {
			margin-top: 10px;
			width: 430px;
			height: 1px;
			background-image: url("../img/menu-item-divider.png");
			}
		.menu-item-text {
			margin: 12px 0 0 0;
			@include font($lato, 16px, 400, black);
			line-height: 16px;
			}
		&.special {
			border-image: url(../img/menu-item-border.png) 1 1 stretch;
			.special-flag {
				display: block;
				position: absolute;
				top: -22px;
				right: -1px;
				width: 69px;
				height: 22px;
				@include font($lato, 14px, 400, white);
				text-align: center;
				line-height: 22px;
				background-image: url("../img/menu-item-flag-bg.png");
				}
			}
		}
	.special-flag {
		display: none;
		}
	}

#reviews {
	background: $gray url("../img/bg-reviews.jpg") no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;

	.reviews-text-bg {
		margin: 0 auto;
		padding: 70px 0;
		width: 770px;
		background: url("../img/bg-rewiews-text.png");
		-webkit-background-size: cover;
		background-size: cover;
		}
	.content-white {
		width: 630px;

		}
	.review-text {
		position: relative;
		@include font($gentium, 25px, 400, white);
		line-height: 45px;
		.quote-sign {
			display: block;
			position: absolute;
			top: 10px;
			left: -45px;
			@include font($georgia, 96px, 400, rgba(242, 244, 244, 0.5));
			line-height: 45px;
			}
		.review-author {
			display: block;
			margin: 25px 0 0 0;
			@include font($lato, 18px, 400, white);
			}
		}
	}

#reservations {
	@include half-width;
	.half-width-pic {
		@include inl-block();
		margin-right: 30px;
		}
	.content-title {
		margin: 0;
		}
	.reservation-form{
		margin: 30px auto 0;
		width: 430px;
		@include half-width;
		text-align: left;
		.half {
			width: 200px;
			}
		label {
			position: relative;
			margin-bottom: 10px;
			display: block;
			@include font($opensans, 14px, 700, $golder);
			.fa {
				position: absolute;
				top: 40px;
				right: 10px;
				color: #7C7C7C;
				}
			}
		input, select {
			margin-bottom: 30px;
			@extend .border-box;
			padding: 10px 30px 10px 15px;
			width: 200px;
			height: 36px;
			@include placeholder{
				@include font($opensans, 16px, 400, #7c7c7c);
				font-style: italic;
				}
			border: 1px solid #7c7c7c;
			&:focus {
				border-color: $golder;
				outline: none;
				}
			}

		button {
			margin: 30px auto 0;
			text-align: center;
			}
		}
	}


.main-footer {
	padding: 50px 0;
	color: white;
	background-color: tint(black, 10%);
	.footer-item {
		@include inl-block();
		@include font($opensans, 16px, 400, white);
		margin-right: 16px;
		width: 370px;
		text-align: center;
		&:last-child {
			margin-right: 0;
			}
		}
	.footer-item-title {
		@include font($yeseva, 21px, 400, white);
		line-height: 24px;
		}
	.footer-item-divider {
		margin: 20px auto;
		@extend .content-divider-white;
		@include size(200px 20px);
		}
	.pay-sys,
	.social-icon {
		font-size: 0;
		margin-right: 10px;
		@include transition(all 300ms ease);

		&:hover {
			color: lighten($gold, 20);
			text-shadow: 0 0 5px tint($gold, 20);
			}
		&:last-child {
			margin-right: 0;
			}
		i {
			font-size: 16px;
			line-height: 24px;
			}
		}
	}